<%if user_signed_in? %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2 d-none d-md-block promo_bg left">
            <p>- おすすめポイント① -<br>お気に入り登録で<br>ラクラク投稿♪</p>
          </div>
          <div class="col-md-2 d-none d-md-block promo_bg right">
            <p>- おすすめポイント② -<br>グループ毎に買う物を管理出来る!</p>
          </div>
        </div>

          <div class="row">
            <div class="col-md-12 note-field" id="my_notes_area">

              <% if @own_notes.present? %>

                <%= render "shared/my_content", note: @own_notes %>

              <% else %>

                <p id="my_notes_area" class="no_content">現在買うものはありません</p>

              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>

  <%= render "shared/note_modal" %>

  <%= render "shared/note_form" %>

  <div class="page_top"><a href="#"><i class="fa fa-angle-double-up"></i></a></div>

<% end %>
