.favorite_back_btn {
  margin-top: 20px;
}

#favorite_form {
  height: 120px;
}

.fav_group_title {
  margin-top: 10px;
}

.item_field {
  margin: 0 20px;
  height: 50px;
  text-align: left;
}

.item {
  margin: 0 10px;
}