.help_Link {
  border-bottom: thin solid #dcdcdc;
  height: 50px;
  margin: 0 20%;
}

.app_title {
    margin:  0;
    position:  relative;
    font-weight:  normal;
    font-size: 20px;
    text-align:  center;
    padding: 20px 0 15px;
    border-top: solid 1px;
    border-bottom:  solid 1px;
    width:  80%;
    margin: 0 auto 35px;
}

.home_info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.2rem;
}

.tutorial_info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.2rem;
}

.tutorial_links {
  position: fixed;
  bottom: 100px;
  right: 0;
  left: 0;
  width: 100%;
}

.tutorial_links li {
  margin-bottom: 5px;
}
