.note-field {
  position: relative;
  top: 30px;
}

.own_note {
  min-width: 200px;
  border-radius: 20px;
  color: #111111;
  background-color: #FFE299;
  position: relative;
  border-style: none;
  transition: unset;
}

.own_note::before{
  content: "";
  position: absolute;
  margin: 0;
  bottom: 30px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 25px solid #FFE299;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  transform: rotate(130deg);
  z-index: -1;
}

.other_note {
  min-width: 200px;
  border-radius: 20px;
  background-color:  #FFF375;
  position: relative;
  transition: unset;
}


.other_note::after{
  content: "";
  position: absolute;
  margin: 0;
  bottom: 30px;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 25px solid  #FFF375;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  transform: rotate(-130deg);
  z-index: -1;
}

.note_body {
  min-width: 160px;
  min-height: 20px;
}

.note_content {
  font-size: 20px;
  border-bottom: solid 1px black;
  min-width: 60px;
  min-height: 40px;
}

.note {
  color: rgba(255, 255, 255, 0.5);
  &:hover {
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.6;
  }
}

.comment {
  font-size: 10px;
}

.comment_list {
  list-style: none;
  text-align: left;
}

.drop-hover:hover > .dropdown-menu {
  display: block !important;
}

.note_image {
  height :65px;
  width :65px;
  border-radius: 15px;
  padding-bottom: 5px;
}

#image_display {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%!important;
  height: 100%;
  background: rgba(0,0,0,0.45);
}
#image_display img {
  top: 120px;
  width: 90%;
  height: 60%;
}
