.note-field {
  position: relative;
  top: 30px;
}

.own_note {
  position: relative;
  max-width: 90%;
  border-radius: 20px;
  background-color: #FFE299;
  transition: unset;
  padding: 5px 20px;
}

.own_note::before{
  content: "";
  position: absolute;
  margin: 0;
  bottom: 30px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 25px solid #FFE299;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  transform: rotate(130deg);
  z-index: -1;
}

.other_note {
  position: relative;
  max-width: 90%;
  border-radius: 20px;
  background-color:  #FFF375;
  transition: unset;
}

.other_note::after{
  content: "";
  position: absolute;
  margin: 0;
  bottom: 30px;
  right: -10px;
  width: 0;
  height: 0;
  border-top: 25px solid  #FFF375;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  transform: rotate(-130deg);
  z-index: -1;
}

.note_content {
  font-size: 20px;
}

.item_count {
  display: inline-block;
  float: right;
}

.count {
  margin: 5px 10px;
}

.comment {
  text-align: left;
  font-size: 14px;
  font-weight: lighter;
  color: #666666;
}

.no_content {
  margin:120px 0 auto;
}

.chatarea_no_content {
  margin:90px 0 auto;
}

.time {
  margin-bottom: 0.5rem;
}

.drop-hover:hover > .dropdown-menu {
  display: block !important;
}

.image_field {
  display: inline-block;
  text-align: center;
}

.note_image {
  width :80px;
  height :auto;
  border-radius: 10px;
  padding-bottom: 5px;
}

#image_display {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%!important;
  height: 100%;
  background: rgba(0,0,0,0.45);
  z-index: 1500;
}

#image_display img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: auto;
  max-height: 100%;
}

@media (min-width: 767px) {
  #image_display img {
  width: 60%;
  }
  .note_field {
  display: inline-block;
  text-align: center;
  width: 50%;
  }
  .own_note {
    max-width: 600px;
    min-width: 200px;
  }
}
