<%= check_box_tag 'note[id][]', note.id, checked = false, :id => "note_#{note.id} " %>

<% if note.user == current_user %>
<!-- <ul> -->
  <!-- <li class="left_side"> -->

  <div class="btn btn-dark own_note">

    <%= render 'shared/note', note: note %>

  </div>
  <!-- </li> -->
  <!-- <ul> -->
<% else %>

  <div class="btn btn-light other_note">

   <%= render 'shared/note', note: note %>

  </div>

<% end %>

<div class="time"><%= note.created_at.to_s(:datetime) %></div>
