<h4>利用手順一覧</h4><br />

  <div class="help_Link"><%= link_to "1.買い物メモの投稿", post_tutorials_path %></div>
  <div class="help_Link"><%= link_to "2.お気に入り商品の登録", new_favitem_tutorials_path  %></div>
  <div class="help_Link"><%= link_to "3.お気に入り商品の投稿", favitem_index_tutorials_path %></div>
