<h4>利用手順一覧</h4><br />

  <div class="help_Link"><%= link_to "1.買い物メモの投稿",tutorial_1_path %></div>
  <div class="help_Link"><%= link_to "2.お気に入り商品の登録",tutorial_2_path  %></div>
  <div class="help_Link"><%= link_to "3.お気に入り商品の投稿",tutorial_3_path %></div>
