
<p>アプリへのご登録<br>
  ありがとうございます!</p>

<p class="home_info">下記ボタンをクリックして進んでください!</p>

<ul class="tutorial_links">
  <li><%= link_to "チュートリアルに進む", post_tutorials_path, class:"btn btn-light" %></li>
  <li><%= link_to "早速アプリを使い始める",root_url, class:"btn btn-dark" %></li>
</ul>
