
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="app_title">
        有吉の買い物メモ<br>アプリへようこそ
      </h1>
      <ul class="top_page_btn">
        <li class="btn top_page_btn" id="new"><%= link_to "新規登録",new_user_registration_path %></li>
        <li class="btn top_page_btn" id="login"><%= link_to "ログイン",new_user_session_path %></li>
        <li class="btn top_page_btn" id="guest"><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post %></li>
      </ul>
    </div>
  </div>
</div>
