<div class="first_wrap">
  <h1 class="app_title">SHOP<span class="logo2">.</span>NOTE</h1>
  <p class="app_subTitle">  - 家族みんなで買い物管理しよう - </p>
  <ul class="top_page_btn">
          <li class="" id="new"><%= link_to "新規登録",new_user_registration_path %></li>
          <li class="" id="login"><%= link_to "ログイン",new_user_session_path %></li>
          <li class="" id="guest"><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post %></li>
  </ul>
    <div class="d-block d-sm-none">
      <img src="/default_app_sm.jpg" class="topPage_bg" >
    </div>
    <div class="d-none d-md-block">
      <img src="/default_app_bg.jpg" class="topPage_bg" >
    </div>
</div>
