@mixin basic_btn_style {
  display: inline-block;
  width: 200px;
  height: 40px;
}

.btn-light {
  border: none;
  margin: 0;
    background-color: #ffd700;
  &:hover {
    background-color: #F9CB57;
    opacity: 0.8;
  }
}

.top_page_btn {
  @include basic_btn_style;
  margin: 5px;
}

.top_page_btn a {
  color: #111111;
}


#new {
  background-color: #FFF9C1;
}

#login {
  background-color: #ffd700;
}

#guest {
  background-color: #FFFF00;
}

.note_btn {
  float: right;
  width: 100px;
}

.btn #js_count,
#js_comment {
  
}

#js_count,
#js_comment
 {
  width: 20px;
  height: 20px;
}

.delete_link a {
  color: #111111;
}

.destroy {
  position: fixed;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
}

.none {
   display: none !important;
}

input[type=checkbox]:checked ~ .btn {
  background: linear-gradient(
    #FFFFE0 48%,
    #000000 48%,
    #000000 52%,
    #FFFFE0 52%,
  );
}

input[type=checkbox]:checked ~ .own_note::before {
    border-top: 25px solid  #FFFFE0;
}

input[type=checkbox]:checked ~ .other_note::after {
    border-top: 25px solid  #FFFFE0;
}
