 @import "shared/mixin";

.btn-light {
  border: none;
  margin: 0;
  background-color: #ffd700;
}

.top_page_btn {
  position: absolute;
  top: 60%;
  z-index: 1;
  margin: 5px;
}

.top_page_btn li {
  display: list-item;
  width: 150px;
  height: 35px;
  margin: 5px;
  border-radius: 5px;
  text-align:center;
  line-height:35px;

}

.top_page_btn a {
  color: #111111;
}

.top_page_btn li:hover{
  opacity: 0.6;
}

#new a {
  color: #e6e6e6;
  padding: 5px;
}

#new {
  background-color: #222222;
}

#login {
  background-color: #ffd700;
}

#guest {
  background-color: #FFFF00;
}

.note_btn {
  float: right;
  width: 100px;
}

#js_count,
#js_comment
 {
  width: 20px;
  height: 20px;
}

.delete_link {
  margin-top: 5px;
}

.delete_link a {
  color: #111111;
}

.destroy {
  position: fixed;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 2;
}

.page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #222222;
  opacity: 0.6;
  border-radius: 50%;
  display: none;
}

.page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

.page_top a::before{
  font-weight: 900;
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -10px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.request_submit {
  font-size: 10px;
}

.none {
  display: none !important;
}

input[type=checkbox]:checked ~ .btn {
  background: linear-gradient(
    #FFFFE0 48%,
    #000000 48%,
    #000000 52%,
    #FFFFE0 52%,
  );
}

input[type=checkbox]:checked ~ .own_note::before {
    border-top: 25px solid  #FFFFE0;
}

input[type=checkbox]:checked ~ .other_note::after {
    border-top: 25px solid  #FFFFE0;
}

@media (min-width: 767px) {
  .top_page_btn {
    position: absolute;
    top: 60%;
    left: 20%;

  }
  
}