.app_icon {
  position: relative;
  bottom: 12px;
  width: 40px;
  border-radius: 10%;
}

.logo1 {
  font-size: 40px;
}

.logo2 {
  color: orange;
}

.image_icon {
  width: 25px;
  height: 25px;
  border-radius: 10%;
  object-fit: cover;
}

.user_icon {
  width: 15px;
  height: 15px;
  border-radius: 10%;
  object-fit: cover;
}

.custom_file_title {
  padding-bottom: 10px;
}

.fa {
    color: #111111;
    font-size: 30px;
    &:hover {
    }
}

.fa-sort,
.fa-pencil {
  position: relative;
  right: 2px;
  top: -5px;
}

.fa-angle-double-up {
  position: relative;
  top: 5px;
  color: white;
}

.fa-exclamation-circle {
  color: #ffc107;
}
