<p>ユーザー検索</p>

<p>下記フォームにユーザー名を入力して検索ボタンを押してください</p>

<div class="form_body">
  <%= form_with url: search_index_path, method: :get, local: true do |f| %>

      <%= render "shared/search_form", f: f %>

  <% end %>
</div>
